.recipe-post {
    max-width: 800px;
    margin: 0 auto;
    container-type: inline-size;
    container-name: article-container;

    &__content :is(h2, h3, h4) {
        color: var(--bs-primary);
        font-family: $headings-font-family;
        margin-top: 2.5rem;
        margin-bottom: 1rem;
    }

    &__content p {
        font-size: 1.125rem;
        line-height: 1.8;
        color: var(--bs-gray-700);
    }

    blockquote {
        margin: 2rem 0;
        padding-left: 1rem;
        border-left: 5px solid var(--bs-primary);
        font-style: italic;
        font-size: 1.2rem;
        color: var(--bs-secondary);
        background: #fff;
    }

    &__figure {
        margin: 3rem 0;

        img {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }

        &:has(figcaption) {
            background-color: white;
            padding: 1rem;
            box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%);
            border: 1px solid var(--bs-gray-200);
            text-align: center;

            figcaption {
                margin-top: 1rem;
                font-family: $headings-font-family;
                font-style: italic;
                color: var(--bs-secondary);
            }
        }
    }
}

@container article-container (min-width: 600px) {
    .recipe-post blockquote {
        border-left: none;
        border-top: 2px solid var(--bs-primary);
        border-bottom: 2px solid var(--bs-primary);
        padding: 2rem;
        text-align: center;
        font-size: 1.5rem;
    }
}