<footer class="main-footer bg-dark text-white pt-5 pb-3 mt-5">
    <div class="container">
        <div class="row g-4 justify-content-between">
            <!-- Columna Logo -->
            <div class="col-md-4">
                <h4 class="font-serif mb-3">Sabor & Tradición</h4>
                <p class="text-white-50">Jornadas gastronómicas organizadas en colaboración con el Ayuntamiento.</p>
            </div>

            <!-- Columna Enlaces -->
            <div class="col-md-3">
                <h5 class="mb-3">Mapa del sitio</h5>
                <ul class="list-unstyled text-white-50">
                    <li><a href="index.html" class="text-reset text-decoration-none">Inicio</a></li>
                    <li><a href="participants.html" class="text-reset text-decoration-none">Ponentes</a></li>
                    <li><a href="article.html" class="text-reset text-decoration-none">Artículos</a></li>
                    <li><a href="contact.html" class="text-reset text-decoration-none">Contacto</a></li>
                </ul>
            </div>

            <!-- Columna Social -->
            <div class="col-md-3 text-md-end">
                <h5 class="mb-3">Síguenos</h5>
                <div class="social-links fs-4">
                    <a href="#" class="text-white me-3"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="text-white me-3"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#" class="text-white"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </div>
        </div>

        <hr class="my-4 border-white-50">

        <!-- Copyright -->
        <div class="row align-items-center text-center text-md-start">
            <div class="col-md-6 text-white-50 small">
                &copy; 2025 Jornadas Cocina Tradicional.
            </div>
            <div class="col-md-6 text-md-end text-white-50 small">
                Desarrollado por Juan Manuel Millán.
            </div>
        </div>
    </div>
</footer>